/**
 * 基础样式，不带业务性质的样式。
 */
body{font-family: "微软雅黑";}
ul{list-style: none;}
.clear{clear: both;}
.fl{float: left;}
.fr{float: right;}
/*去除苹果默认按钮输入框样式*/
input[type="button"], input[type="submit"], input[type="reset"] {
-webkit-appearance: none;
}
textarea { -webkit-appearance: none;} 
.hidden{overflow: hidden;}
/*常用外边界*/
.no-margin{margin: 0 !important;}
.margin{margin: 0 auto !important;}
.mt-0{margin-top: 0px !important;}
.mt-2{margin-top: 2px !important;}
.mt-3{margin-top: 3px !important;}
.mt-5{margin-top:5px !important;}
.mt-8{margin-top:8px}
.mt-10{margin-top:10px}
.mt-15{margin-top:15px}
.mt-20{margin-top:20px}
.mt-25{margin-top:25px}
.mt-30{margin-top:30px}
.mt-35{margin-top:35px}
.mt-40{margin-top:40px}
.mt-50{margin-top:50px}
.mt-55{margin-top:55px}
.mt-60{margin-top:60px}
.mt-70{margin-top:70px}
.mt-80{margin-top:80px}
.mt-100{margin-top:100px}
.mt-120{margin-top:120px}

.mb-0{margin-bottom: 0px;}
.mb-5{margin-bottom:5px}
.mb-10{margin-bottom:10px}
.mb-15{margin-bottom:15px}
.mb-20{margin-bottom:20px}
.mb-25{margin-bottom:25px}
.mb-30{margin-bottom:30px}
.mb-40{margin-bottom:40px}
.mb-50{margin-bottom:50px}

.ml-0{margin-left:0}
.ml-3{margin-left:3px}
.ml-5{margin-left:5px}
.ml-10{margin-left:10px}
.ml-15{margin-left:15px}
.ml-20{margin-left:20px}
.ml-30{margin-left:30px}
.ml-40{margin-left:40px}
.ml-50{margin-left:50px}
.ml-20c{margin-light: 20%;}
.ml-f25{margin-left: -25px}
.ml-auto{margin-left: auto;}

.mr-0{margin-right:0}
.mr-5{margin-right:5px}
.mr-10{margin-right:10px}
.mr-15{margin-right:15px}
.mr-20{margin-right:20px}
.mr-30{margin-right:30px}
.mr-40{margin-right:40px}
.mr-50{margin-right:50px}
.mr-20c{margin-right: 20%;}
.mr-auto{margin-right: auto;}

.mg-5{margin: 5px;}
.mg-10{margin: 10px;}

/*常用内边距*/
.no-padding{padding: 0 !important;}
.pt-0{padding-top: 0 !important;}
.pt-1{padding-top:1px}
.pt-3{padding-top:3px}
.pt-5{padding-top:5px}
.pt-6{padding-top:6px}
.pt-8{padding-top:8px}
.pt-10{padding-top:10px !important;}
.pt-12{padding-top:12px}
.pt-15{padding-top:15px}
.pt-17{padding-top:17px}
.pt-20{padding-top:20px}
.pt-25{padding-top:25px}
.pt-27{padding-top:27px}
.pt-30{padding-top:30px}

.pb-2{padding-bottom:2px}
.pb-4{padding-bottom:4px}
.pb-5{padding-bottom:5px}
.pb-8{padding-bottom:8px}
.pb-10{padding-bottom:10px !important;}
.pb-12{padding-bottom:12px}
.pb-15{padding-bottom:15px}
.pb-20{padding-bottom:20px}
.pb-30{padding-bottom:30px}

.pl-0{padding-left: 0px;}
.pl-1{padding-left: 1px;}
.pl-2{padding-left: 2px;}
.pl-3{padding-left:3px;}
.pl-5{padding-left:5px}
.pl-9{padding-left:9px}
.pl-10{padding-left:10px}
.pl-12{padding-left:12px}
.pl-15{padding-left:15px}
.pl-20{padding-left:20px}
.pl-25{padding-left:25px}
.pl-30{padding-left:30px}.pl-35{padding-left:35px !important;}
.pl-40{padding-left:40px}
.pl-50{padding-left:50px}
.pl-60{padding-left:60px}
.pl-88{padding-left:88px}
.pl-100{padding-left:100px}
.pl-3s{padding-left: 3%;}

.pr-0{padding-right: 0px;}
.pr-2{padding-right: 2px;}
.pr-2{padding-right: 2px;}
.pr-3{padding-right:3px;}
.pr-5{padding-right:5px}
.pr-10{padding-right:10px}
.pr-12{padding-right:12px}
.pr-15{padding-right:15px}
.pr-20{padding-right:20px !important;}
.pr-30{padding-right:30px}
.pr-40{padding-right:40px}
.pr-50{padding-right:50px !important;}

.pd-5{padding:5px}
.pd-10{padding:10px}
.pd-12{padding:12px}
.pd-15{padding:15px}
.pd-20{padding:20px}
.pd-30{padding:30px}
.pd-40{padding:40px}
.pad_0_0_0_5{padding: 0 0 0 5px;}
.pad_0_5_0_0{padding: 0 5px 0 0;}
.pd-10-5{padding: 10px 5px;}
.pd-10-0{padding: 10px 0;}
.br-5{border-radius: 5px;}
.bl{display: block;}
.table .title {
	background: #f6f6f6 !important;
	text-align: center;
	font-size: 15px;
}
.block{display: block;}
.none{display: none;}
.border-box{box-sizing: border-box;}
/*常用的字体*/
.f-8{font-size:8px}
.f-12{font-size:12px}
.f-14{font-size:14px}
.f-16{font-size:16px}
.f-18{font-size:18px}
.f-20{font-size:20px}
.f-22{font-size:20px}
.f-23{font-size:23px}
.f-24{font-size:24px}
.f-26{font-size:26px}
.f-28{font-size:28px}
.f-30{font-size:30px}
.f-36{font-size:36px}
.f-40{font-size: 40px;}
.f-50{font-size: 50px;}
.f-60{font-size: 60px;}
.f-70{font-size: 70px;}
.f-blod{font-weight: bold;}
.f-w{font-family: "微软雅黑";}
.f-s{font-family: "宋体";}
.f-b{font-weight: bold;}
.f-n{font-weight: normal;}

/*字体浮动方向*/
.text-center{text-align: center;}
.text-right{text-align: right;}
.text-left{text-align: left;}

/*边框*/
.border{border: #dddddd 1px solid;}
.border-top{border-top: #dddddd 1px solid;}
.border-bottom{border-bottom: #dddddd 1px solid;}
.border-left{border-left: #dddddd 1px solid;}
.border-right{border-right: #dddddd 1px solid;}
.br-white{border-right: #fff 2px solid;}
.no-border-bottom{border-bottom: none;}

/*边框圆角*/
.no-boder{border: none !important;}
.border-radius-0{border-radius: 0;}
.border-radius-2{border-radius: 2px;}
.border-radius-4{border-radius: 4px;}
.border-radius-6{border-radius: 6px;}
.border-radius-8{border-radius: 8px;}
.border-radius-10{border-radius: 10px;}
.border-b-ec{border-bottom: 1px solid #ececec;}

/*color*/
.color-black{color:#000000}
.color-BB{color:#BBBBBB}
.color-3d{color: #3d3d3d;}
.color-3{color: #333;}
.color-6{color: #666;}
.color-8{color: #888;}
.color-9{color: #999;}
.color-white{color: #fff;}
.color-orange{color: #ffb63a;}
.color-orange1{color: #ff9026;}
.color-orange2{color: #ec9d24;}
.color-orange3{color: #ffc86f;}
.red{color: #ff6769;}
.color-red{color: #f86666;}
.color-red1{color: #ed4b3e;}
.green{color: green;}
.color-green{color: #b5da59;}
.color-green1{color: #26d0cc;}
.color-blue{color: #7192fd;}
.color-blue1{color: #61caff;}
.color-blue2{color: #51c4fd;}
.color-69f{color: #6699FF;}
.color-gray{color:#AAAAAA;}
.color-voliet{color:#7782db;}
.color-yellow{color:#f8ea04;}
/*背景色*/
.no-bg{background: none !important;}
.bg-blue{background: #6699ff;}
.bg-blue1{background: #31B0D5;}
.bg-blue3{background: #e0fcfd;}
.bg-f6{background: #f6f6f6;}
.bg-ef{background: #efefef;}
.bg-white{background: #FFFFFF;}
.bg-green{background: #28d574;}
.bg-orange{background: #ffb63a;}
/*常用高度*/
.h-2{height: 2px;}
.h-15{height: 15px;}
.h-30{height: 30px;}
.h-40{height: 40px;}
.h-42{height: 42px;}
.h-50{height: 50px;}
.h-55{height: 55px;}
.h-60{height: 60px;}
.h-80{height: 80px;}
.h-85{height: 85px;}
.h-90{height: 90px;}
.h-96{height: 96px;}
.h-100{height: 100px;}
.h-130{height: 130px;}
.h-150{height: 150px;}
.h-200{height: 200px;}
.h-300{height: 300px;}
.h-400{height: 400px;}
.hi-50{height: 50%;}
.hi-100{height: 100%;}

/*常用宽度*/
.w-30{width: 30px;}
.w-55{width: 55px;}
.w-60{width: 60px;}
.w-70{width: 70px;}
.w-75{width: 75px;}
.w-80{width: 80px;}
.w-90{width: 90px;}
.w-100{width: 100px;}
.w-110{width: 110px;}
.w-120{width: 120px;}
.w-130{width: 130px;}
.w-140{width: 140px;}
.w-150{width: 150px;}
.w-170{width: 170px;}
.w-180{width: 180px;}
.w-190{width: 190px;}
.w-200{width: 200px;}
.w-210{width: 210px;}
.w-220{width: 220px;}
.w-230{width: 230px;}
.w-240{width: 240px;}
.w-250{width: 250px;}
.w-260{width: 260px;}
.w-270{width: 270px;}
.w-280{width: 280px;}
.w-290{width: 290px;}
.w-300{width: 300px;}
.wi-33{width: 33%;}
.wi-50{width: 50%;}



.wi-100{width: 100% !important;}
/*常用行高度*/
.lh-0{line-height: 0px;}
.lh-16{line-height: 16px;}
.lh-16{line-height: 16px;}
.lh-18{line-height: 18px;}
.lh-20{line-height: 20px;}
.lh-22{line-height: 22px;}
.lh-24{line-height: 24px;}
.lh-26{line-height: 26px;}
.lh-28{line-height: 28px;}
.lh-50{line-height: 50px;}

/*header*/
.header_outside{width: 100%; height: 50px;}
.header{position: fixed; top: 0; left: 0; right: 0; z-index: 33; width: 100%;/* padding: 0 3%;*/ height: 50px; }
.header_title{font-size: 20px; line-height: 50px; text-align: center; color: #fff; font-family: "微软雅黑";}
.header .back_div{width: 12%;}
.header .back_btn{height: 50px; padding: 0; text-align: center; line-height:50px;}
.header .back_btn img{width: 15px; padding-top: 13px;}
.header .search_div{width: 83%; height: 50px; background: none; padding: 10px 0; }
.header .search_div:before, .header .search_div:after{border: none !important;}

.header .search_div form{background: none;}
.header .search_div .weui-search-bar__form:after{border: none;}
.header .search_div .weui-search-bar__input{padding: 5px 0;}
.header .search_div .weui_search_outer{border-radius: 0px;}
.header .search_div .weui_icon_search{top: -1px;}
.header .search_div .weui_search_input{height: 30px; line-height: 30px;padding:0;}
.header .search_div .weui_icon_clear{top: -1px;}
.header .cancel_div{width: 15%;}
.header .cancel_div .cancel_btn{display: block; border: none; text-align: center; color: #fff; padding: 0; line-height: 50px;}

/*footer*/
.footer_outside{width: 100%; height: 55px;}
.footer{background: #fbfbfb; z-index: 5;}
.weui_tabbar:before{border-top: #ddd 1px solid;}
.weui_grids:before{border: 1px solid #ddd;}
.weui-tabbar__item.weui-bar__item_on .weui-tabbar__label{color: #6699ff;}

/*地区-排序-选择*/
.bg_ul{display: none; position: fixed; top: 100px; left: 0; z-index: 11; 
       width: 100%; height: 100%; background: rgba(0,0,0,0.5);}
.check_ul{position: relative; z-index: 22; width: 100%;}
.check_ul li{position: relative; float: left; width: 33.33%; height: 46px;   line-height: 46px; font-size: 14px; color: #3d3d3d; text-align: center;  border-bottom: #ddd 1px solid;}
.check_ul li .check_ul_t img{width: 12px; padding-left: 5px;}
.check_ul li a.check_ul_t{display: block; max-width: 106px;}
.check_ul li a.check_ul_t span{display: block; width: 80px; float: left; height: 47px; line-height:47px; overflow: hidden;    text-overflow: ellipsis;
    white-space: nowrap;}
.check_a{display: none; position: absolute; left: 0; top: 47px; z-index: 999; width: 100%; height: auto;}
.check_a_content{overflow: hidden;}
.check_a_content a{display: block;width: 50%; height: 46px; float: left; line-height: 46px; color: #3d3d3d; border-bottom: #ddd 1px solid; text-align: center;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.check_a_content a.gou{color: #6699ff; background: url(../images/gou.png) no-repeat right center;background-size: auto 10px;}
.check_a_btn{margin-top: -1px; overflow: hidden; border-top: #ddd 1px solid;}
.check_a_btn a{display: block; width: 50%; float: left; line-height: 46px;text-align: center; font-size: 16px;}
.check_cancel{color: #6699ff;}
.check_sure{ background: #6699ff; color: #fff;}
.arrow_up{position: absolute; left: 12%; top: -8px; z-index: 999; width: 20px; height: 12px; margin-left: -10px; 
background: url(../images/icon_arrow_up.png) no-repeat center top; background-size: auto 8px;}

/*下拉框*/
.xiala_ul{position: relative; z-index: 22; width: 100%;}
.xiala_ul li{position: relative; width: 100%; height: 33px;line-height: 16px; padding-top: 13px; font-size: 14px; color: #3d3d3d;border-bottom: #ddd 1px solid;}


/*地区选择*/
/*#areaDiv{display: none; position: fixed; left: 0; top: 0; z-index: 9999; width: 100%; height: 100%; background: #fff;}
.title{width: 76%; height: 50px; margin: 0 auto; text-align: center; line-height: 50px; color: #fff; font-size: 16px;}
.area_content{width: 100%;}
.area_province{width: 28%; line-height: 40px; font-size: 14px; box-sizing: border-box; overflow-y: auto;}
.area_classify{width: 30%; line-height: 40px; font-size: 14px; box-sizing: border-box; overflow-y: auto;}
.area_town{width: 42%; line-height: 40px; font-size: 14px; overflow-y: auto;}
.city_ul li{width: 100%; height: 40px; padding-left: 10px; line-height: 40px; font-size: 14px; border-bottom: #ddd 1px solid; text-align: center; box-sizing: border-box;}
.city_ul li a{color: #1a1a1a;}
.city_ul li.on a{color: #6699ff;}

#cityClassify{display: none;}
#cityTown{display: none;}*/

/*公用图标图片*/
.icon_base{display: block; background: url(../images/icon_base.png) no-repeat;}

/*底部按钮浮动*/
.footer-btn{position:fixed;bottom:0;left:0; width: 100%;}

/*按钮*/
.btn-blue{background: #6699ff;}
.btn-blue:hover{background: #5b8df0;}

/*定位*/
.po-re{position: relative;}

/*按钮*/
.btn-blue{background: #6699ff;}
.btn-blue:hover{background: #5b8df0;}

/*底部导航*/
.tabbar_bottom{
	position:fixed;bottom:0;left:0; width: 100%; background: #f9fafb !important;
}

/*隐藏*/
.hid{
    display:none;
}

/*超出长度隐藏*/
.overflow_hid {
	white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

/*下一步*/
.bt_next{
	width: 90%; height: 40px;   font-family: "微软雅黑"; font-size: 16px;
	background-color: #6699FF; color: #FFFFFF; 
	border: none;  border-radius: 4px; 
	margin-left: 5%;
	text-align: center;
}






