<!DOCTYPE html>
<html>

	<head>
		<#include "../../include/head_meta.xhtml">
		<#include "../../include/head_css.xhtml">

		<title>测试js</title>
		<style type="text/css">

		</style>
	</head>

	<body class="bg-ef">
	<a type="button" class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips">测试</a>
	<div id="list">
	</div>
	<#include "../../include/head_js.xhtml">
	<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>

	<script>

		wx.config({
			debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
			appId: '${signature.appId}', // 必填，公众号的唯一标识
			timestamp: ${signature.timestamp}, // 必填，生成签名的时间戳
			nonceStr: '${signature.nonceStr}', // 必填，生成签名的随机串
			signature: '${signature.signature}',// 必填，签名，见附录1
			jsApiList: [
				"openCard",
				"getLocation",
				"hideOptionMenu",
				"showOptionMenu",
				"hideMenuItems",
				"showMenuItems",
				"hideAllNonBaseMenuItem",
				"showAllNonBaseMenuItem",
				"closeWindow",
				"scanQRCode",
				"chooseWXPay",
				"openProductSpecificView",
				"addCard",
				"chooseCard",
				"openCard"
			] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
		});

		wx.ready(function(){
			// config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
			addCard();
		});

		wx.error(function(res){
			// config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
			alert('error:' + res);
		});

		function addCard() {
			wx.addCard({
				cardList: [{
					cardId: 'pqN7Btxd2AaT9ZTpg-CPH_0FIrqo',
					cardExt: '{"openid": "${openid}", "timestamp":"${addCardSignature.timestamp}","nonce_str":"${addCardSignature.nonceStr}","signature":"${addCardSignature.signature}"}'
				}], // 需要添加的卡券列表
				success: function (res) {
					var cardList = res.cardList; // 添加的卡券列表信息
				}
			});
		}




	</script>
</body>

</html>