<!DOCTYPE html>
<html>
	<head>
		<title>残疾人</title>
		<#include "../../include/head_meta.xhtml"/>
		<link rel="stylesheet" href="${requestContext.contextPath}/resources/template/common/lib/jquery.weui-1.0.1/css/jquery-weui.css">
		<link rel="stylesheet" href="${requestContext.contextPath}/resources/template/common/lib/Hui-iconfont/iconfont.css">
		<link rel="stylesheet" type="text/css" href="${requestContext.contextPath}/resources/template/cms/default/css/base.css" />
		<link rel="stylesheet" type="text/css" href="${requestContext.contextPath}/resources/template/dxms/fwfl/css/style.css" />
	</head>
	<body class="bg-f6">
		<div class="mt-4">
			<ul class="user_list">
				<li><a
					href="">安置残疾人就业单位用地减免土地税</a>
					<i class="icon Hui-iconfont icon_arrow">&#xe6d7;</i></li>
				<li><a
					href="http://www.gdbs.gov.cn/portal/guide/30697000000694129002440000.html">残疾、孤老、烈属减征个人所得税</a>
					<i class="icon Hui-iconfont icon_arrow">&#xe6d7;</i></li>
				<li class="twoLine"><a class="font-2"
					href="">安置残疾人员及国家鼓励安置的其他就业人员所支付的工资加计扣除</a>
					<i class="icon Hui-iconfont icon_arrow">&#xe6d7;</i></li>
			</ul>
		</div>
	</body>

</html>