<!DOCTYPE html>
<html>
	<head>
		<title>服务分类</title>
		<#include "../../include/head_meta.xhtml"/>
		<link rel="stylesheet" type="text/css" href="${requestContext.contextPath}/resources/template/dxms/fwfl/css/style.css" />
	</head>
	
	<body >
		<div class="menu-matter" id="allService">
		  <br/>
		  <div align="center">
		    <table>
		      <tbody>
		        <tr>
		          <td>
		            <a title="" href="${requestContext.contextPath}/weixin/fwfl/knjt" onclick="ssfl_searchAction('')">
		              <img style="height: 64px;" alt="困难家庭"  src="${requestContext.contextPath}/resources/template/dxms/fwfl/img/fwfl_knjt.png"/>
		              <br/>困难家庭</a></td>
		          <td>
		            <a title="" href="${requestContext.contextPath}/weixin/fwfl/bys" onclick="ssfl_searchAction('')">
		              <img style="height: 64px;" alt="毕业生"  src="${requestContext.contextPath}/resources/template/dxms/fwfl/img/fwfl_bys.png"/>
		              <br/>毕业生</a></td>
		        </tr>
		        <tr>
		          <td>
		            <a title="" href="${requestContext.contextPath}/weixin/fwfl/cjr" onclick="ssfl_searchAction('')">
		              <img style="height: 64px;" alt="残疾人"  src="${requestContext.contextPath}/resources/template/dxms/fwfl/img/fwfl_cjr.png"/>
		              <br/>残疾人</a></td>
		          <td>
		            <a title="" href="${requestContext.contextPath}/weixin/fwfl/dbjt" onclick="ssfl_searchAction('')">
		              <img style="height: 64px;" alt="低保家庭"  src="${requestContext.contextPath}/resources/template/dxms/fwfl/img/fwfl_dbjt.png"/>
		              <br/>低保家庭</a></td>
		        </tr>
		        <tr>
		          <td>
		            <a title="" href="${requestContext.contextPath}/weixin/fwfl/jr" onclick="ssfl_searchAction('')">
		              <img style="height: 64px;" alt="军人"  src="${requestContext.contextPath}/resources/template/dxms/fwfl/img/fwfl_jr.png"/>
		              <br/>军人</a></td>
		          <td>
		            <a title="" href="${requestContext.contextPath}/weixin/fwfl/syry" onclick="ssfl_searchAction('')">
		              <img style="height: 64px;" alt="失业人员"  src="${requestContext.contextPath}/resources/template/dxms/fwfl/img/fwfl_syry.png"/>
		              <br/>失业人员</a></td>
		        </tr>
		        <tr>
		          <td>
		            <a title="" href="${requestContext.contextPath}/weixin/fwfl/zjyry" onclick="ssfl_searchAction('')">
		              <img style="height: 64px;" alt="再就业人员"  src="${requestContext.contextPath}/resources/template/dxms/fwfl/img/fwfl_zjyry.png"/>
		              <br/>再就业人员</a></td>
		          <td>
		            <a title="" href="${requestContext.contextPath}/weixin/fwfl/szry" onclick="ssfl_searchAction('')">
		              <img style="height: 64px;" alt="受灾人员"  src="${requestContext.contextPath}/resources/template/dxms/fwfl/img/fwfl_szry.png"/>
		              <br/>受灾人员</a></td>
		        </tr>
		        </tbody>
		      </table>
		      
		  </div>
		</div>
	</body>
	

</html>