<!DOCTYPE html>
<html>
	<head>
		<title>军人</title>
		<#include "../../include/head_meta.xhtml"/>
		<link rel="stylesheet" href="${requestContext.contextPath}/resources/template/common/lib/jquery.weui-1.0.1/css/jquery-weui.css">
		<link rel="stylesheet" href="${requestContext.contextPath}/resources/template/common/lib/Hui-iconfont/iconfont.css">
		<link rel="stylesheet" type="text/css" href="${requestContext.contextPath}/resources/template/cms/default/css/base.css" />
		<link rel="stylesheet" type="text/css" href="${requestContext.contextPath}/resources/template/dxms/fwfl/css/style.css" />
	</head>
	<body class="bg-f6">
		<div class="mt-4">
			<ul class="user_list">
				<li><a
					href="">军人的转业费、复员费免征个人所得税</a>
					<i class="icon Hui-iconfont icon_arrow">&#xe6d7;</i></li>
				<li><a
					href="">军转干部从事个体经营免征个人所得税</a>
					<i class="icon Hui-iconfont icon_arrow">&#xe6d7;</i></li>
				<li><a
					href="">随军家属从事个体经营免征个人所得税</a>
					<i class="icon Hui-iconfont icon_arrow">&#xe6d7;</i></li>
				<li><a
					href="">退役士兵从事个体经营减免个人所得税</a>
					<i class="icon Hui-iconfont icon_arrow">&#xe6d7;</i></li>
				<li><a
					href="">安置自谋职业的城镇退役士兵企业免征教育费附加</a>
					<i class="icon Hui-iconfont icon_arrow">&#xe6d7;</i></li>
				<li><a
					href="">扶持自主就业退役士兵创业就业企业限额减征教育费附加</a>
					<i class="icon Hui-iconfont icon_arrow">&#xe6d7;</i></li>
				<li><a
					href="">扶持自主就业退役士兵创业就业企业限额减征企业所得税</a>
					<i class="icon Hui-iconfont icon_arrow">&#xe6d7;</i></li>
				<li><a
					href="http://www.gdbs.gov.cn/portal/guide/30697000000694129002440000.html">残疾、孤老、烈属减征个人所得税</a>
					<i class="icon Hui-iconfont icon_arrow">&#xe6d7;</i></li>
			</ul>
		</div>
	</body>

</html>