<!DOCTYPE html>
<html>
	<head>
		<title>受灾人员</title>
		<#include "../../include/head_meta.xhtml"/>
		<link rel="stylesheet" href="${requestContext.contextPath}/resources/template/common/lib/jquery.weui-1.0.1/css/jquery-weui.css">
		<link rel="stylesheet" href="${requestContext.contextPath}/resources/template/common/lib/Hui-iconfont/iconfont.css">
		<link rel="stylesheet" type="text/css" href="${requestContext.contextPath}/resources/template/cms/default/css/base.css" />
		<link rel="stylesheet" type="text/css" href="${requestContext.contextPath}/resources/template/dxms/fwfl/css/style.css" />
	</head>
	<body class="bg-f6">
		<div class="mt-4">
			<ul class="user_list">
				<li><a
					href="">单位和个体经营者将货物捐赠给受灾地区的免征城建税</a>
					<i class="icon Hui-iconfont icon_arrow">&#xe6d7;</i></li>
				<li><a
					href="">单位和个体经营者将货物捐赠给受灾地区的免征教育费附加</a>
					<i class="icon Hui-iconfont icon_arrow">&#xe6d7;</i></li>
				<li><a
					href="http://www.gdbs.gov.cn/portal/guide/30000060000069401752440000.html">受灾人员救助申请家庭经济状况核对查询服务</a>
					<i class="icon Hui-iconfont icon_arrow">&#xe6d7;</i></li>
			</ul>
		</div>
	</body>

</html>